time {
  visibility: hidden;
  font-size: 0;
  }
p {
  font-family: 'avenir next', avenir,
               'helvetica neue', helvetica,
               ubuntu,
               roboto, noto,
               'segoe ui', arial,
               sans-serif;
               color: gray;
               font-size: 0.8
}
h1,h2,f2,f6 {
  font-family: 'avenir next', avenir,
               'helvetica neue', helvetica,
               ubuntu,
               roboto, noto,
               'segoe ui', arial,
               sans-serif;
  font-size: 0.8;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}
a {
  font-family: sans-serif;
}
a:hover {
  color: light-blue;
}
